<!doctype html>
<html lang="en">
<head>
    <!-- Tab Document Title -->
    <title>CS340 Star Wars Database Project</title>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.css"/> <!-- Bootstrap Styles -->
    <link rel="stylesheet" href="/css/bootstrap-grid.css"/> <!-- Bootstrap Grid Styles -->
    <link rel="stylesheet" href="/css/bootstrap-reboot.css"/> <!-- Bootstrap Reboot Styles -->
    <link rel="stylesheet" href="/css/styles.css"/> <!-- Project Defined Styles -->
    <!-- Load Jquery and Individual Page Scripts before Templates -->
    <script src="/js/jquery-3.3.1.min.js"></script> <!-- jQuery -->
    <script src="{{jsscripts}}"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="nav-item" href="/allegiance">Allegiance</a>
        <a class="nav-item" href="/being">Being</a>
        <a class="nav-item" href="/faction">Faction</a>
        <a class="nav-item" href="/forcepower">Force Power</a>
        <a class="nav-item" href="/forceuser">Force User</a>
        <a class="nav-item" href="/planet">Planet</a>
        <a class="nav-item" href="/ship">Ship</a>
    </nav>
    {{{body}}}
</div>
<!-- Scripts -->
<script src="/js/bootstrap.bundle.min.js"></script> <!-- Bootstrap Scripts -->
<script src="/js/scripts.js"></script> <!-- Project Defined Scripts -->
</body>
</html>